/*
SPACING SYSTEM (px)

Margin / Padding / Size(h): 
8 / 16 / 24 / 32 / 40 / 48 / 56 / 64 / 72 / 80 / 88 / 96 / 104 / 112 / 120 / 128

Alignment: 2 / 4 / 6 


FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Display
*/

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Open sans", sans-serif;
}
